@font-face {
  font-family: Montserrat-Regular;
  src:
    local('Montserrat-Regular'),
    url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat-Regular', sans-serif;
  overflow-x: hidden;
}

html,
body,
#root {
  height: 100%;
}

/*#root {*/
/*  overflow: auto;*/
/*}*/
